<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth">

  <!-- Header -->
  <div id="header">
    <div class="container">

      <!-- Left Side Content -->
      <div class="left-side">

        <!-- Logo -->
        <div id="logo">
          <a routerLink="/dashboard"><img src="assets/images/logo.png" alt=""></a>
        </div>

        <!-- Main Navigation -->
        <div *ngIf="showSearchBar()" id="navigation">
          <nav class="w-50 mx-auto">


            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Type a query, then press 'Enter'"
                aria-label="query"
                aria-describedby="basic-addon2"

                [popover]="popTemplate"
                containerClass="search-popover"
                popoverTitle="Search - Advanced Options"
                container="body"
                placement="bottom"
                triggers=""
                ngModel
                #pop="bs-popover"
                (keydown.enter)="pop.hide()"
                (ngModelChange)="filterQuery($event)"
              >


              <div class="input-group-append cursor_pointer">
                <span (click)="pop.toggle()" class="input-group-text" id="basic-addon2"><i class="icon-feather-info"></i></span>
              </div>
            </div>
          </nav>
        </div>


        <div class="clearfix"></div>
        <!-- Main Navigation / End -->

      </div>
      <!-- Left Side Content / End -->


      <!-- Right Side Content / End -->
      <div class="right-side">

        <!--  Status Notifications -->
        <div class="header-widget">

          <!-- Notifications -->
          <div class="header-notifications">

            <!-- Trigger -->
            <div class="header-notifications-trigger">
              <a routerLink="/status"><i class="icon-feather-activity"></i></a>
            </div>

          </div>
        </div>
        <!--  Status Notifications / End -->

      </div>
      <!-- Right Side Content / End -->

    </div>
  </div>
  <!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->

<ng-template #popTemplate>
  <div class="search-popover">
    <p>
      Just type your query in search input above and click "Enter"

      Try these tips to refine your search
    </p>

    <table class="basic-table">

      <tbody><tr> <th style="text-align: left">Special character</th> <th style="text-align: left">Behavior</th> </tr>

      <tr>
        <td style="text-align: left"><code class="highlighter-rouge">+</code></td>
        <td style="text-align: left">Force an exact-match search on a single word or phrase.</td>
      </tr>
      <tr>
        <td style="text-align: left"><code class="highlighter-rouge">|</code></td>
        <td style="text-align: left">Put between each search query to combine searches</td>
      </tr>
      <tr>
        <td style="text-align: left"><code class="highlighter-rouge">*</code></td>
        <td style="text-align: left">Acts as a wild-card and will match on any word.</td>
      </tr>
      <tr>
        <td style="text-align: left"><code class="highlighter-rouge">""</code></td>
        <td style="text-align: left">Wraps several terms into a phrase and search for an exact match</td>
      </tr>
      <tr>
        <td style="text-align: left"><code class="highlighter-rouge">()</code></td>
        <td style="text-align: left">Group multiple terms or search operators to control how the search is executed.</td>
      </tr>
      <tr>
        <td style="text-align: left"><code class="highlighter-rouge">~n</code></td>
        <td style="text-align: left">Include synonyms.</td>
      </tr>
      <tr>
        <td style="text-align: left"><code class="highlighter-rouge">-</code></td>
        <td style="text-align: left">Put in front of a word you want to leave out.</td>
      </tr>

      </tbody></table>
  </div>


</ng-template>
