<app-header></app-header>

<!-- Titlebar
================================================== -->
<div class="single-page-header" data-background-image="images/single-job.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="single-page-header-inner">
          <div class="left-side">
            <div class="header-image"><a href="single-company-profile.html">
              <img [src]="storageEndpoint(documentData._source.storage.thumb_bucket, documentData._source.storage.thumb_path)" alt="">
            </a></div>
            <div class="header-details">
              <h3>{{documentData._source.meta.title || documentData._source.file.filename}}</h3>
              <p>{{documentData._source.meta.description}}</p>
            </div>
          </div>
          <div *ngIf="documentData._source.meta.pages" class="right-side">
            <div class="salary-box">
              <div class="salary-type"># of Pages</div>
              <div class="salary-amount">{{documentData._source.meta.pages}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
  <div class="row">

    <!-- Content -->
    <div class="col-xl-8 col-lg-8 content-right-offset">

      <div class="single-page-section">

        <tabset class="tabs">
          <tab heading="Document Preview">
            <app-doc-preview *ngIf="documentData" [extension]="documentData._source.file.extension" [path]="storageEndpoint(documentData._source.storage.bucket, documentData._source.storage.path)"></app-doc-preview>
          </tab>
          <tab heading="Extracted Text">
            <div style="max-height: 800px; overflow: scroll; outline: auto;">
              {{documentData._source.content}}
            </div>
          </tab>
        </tabset>
      </div>


      <!-- Skills -->
      <div class="single-page-section">
        <h3>Tags</h3>
        <div class="keywords-container">
          <div class="keyword-input-container">
            <input type="text"
                   [(ngModel)]="newTag"
                   [typeahead]="tagsAutocomplete"
                   typeaheadOptionField="id"
                   typeaheadGroupField="group"
                   [typeaheadMinLength]="0"
                   [typeaheadOptionsLimit]="1000"
                   [typeaheadScrollable]="true"
                   [typeaheadOptionsInScrollableView]="12"
                   typeaheadPhraseDelimiters="&,-"
                   class="keyword-input with-border" placeholder="Add Keywords">
            <button class="keyword-input-button ripple-effect" (click)="addDocumentTag()"><i class="icon-material-outline-add"></i></button>
          </div>
          <div class="keywords-list" style="height: auto;">
            <span *ngFor="let tag of documentData._source.lodestone.tags" class="keyword"><span (click)="removeDocumentTag(tag)" class="keyword-remove"></span><span class="keyword-text">{{tag}}</span></span>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="single-page-section">
        <h3 class="margin-bottom-25">Similar Documents</h3>

        <!-- Listings Container -->
        <div class="listings-container grid-layout">

          <!-- Job Listing -->
          <a *ngFor="let result of similarDocuments" [routerLink]="'/details/' + result._id" class="job-listing">

            <!-- Job Listing Details -->
            <div class="job-listing-details">
              <!-- Logo -->
              <div class="job-listing-company-logo">
                <img [src]="storageEndpoint(result._source.storage.thumb_bucket, result._source.storage.thumb_path)" alt="">
              </div>

              <!-- Details -->
              <div class="job-listing-description">
                <h3 class="job-listing-title">{{result._source.meta.title || result._source.file.filename}}</h3>
              </div>
            </div>

            <!-- Job Listing Footer -->
            <div class="job-listing-footer">
              <ul>
                <li><i class="icon-feather-file-text"></i>{{result._source.file.extension}}  </li>
                <li><i class="icon-material-outline-attach-file"></i> {{result._source.file.filesize | filesize}} </li>
                <li><i class="icon-line-awesome-terminal"></i> {{result._source.storage.path}} </li>
                <li><i class="icon-material-outline-access-time"></i> {{result._source.file.created | amTimeAgo}} </li>
              </ul>
            </div>
          </a>
        </div>
        <!-- Listings Container / End -->

      </div>
    </div>


    <!-- Sidebar -->
    <div class="col-xl-4 col-lg-4">
      <div class="sidebar-container">

        <a download [href]="storageEndpoint(documentData._source.storage.bucket, documentData._source.storage.path)" class="apply-now-button popup-with-zoom-anim">Download <i class="icon-material-outline-arrow-right-alt"></i></a>

        <!-- Sidebar Widget -->
        <div class="sidebar-widget">
          <div class="job-overview">
            <div class="job-overview-headline">Document Metadata</div>
            <div class="job-overview-inner">
              <ul>
                <li>
                  <i class="icon-feather-file-text"></i>
                  <span>File Type</span>
                  <h5>{{documentData._source.file.extension}}</h5>
                </li>
                <li>
                  <i class="icon-material-outline-attach-file"></i>
                  <span>File Size</span>
                  <h5>{{documentData._source.file.filesize | filesize}}</h5>
                </li>
                <li>
                  <i class="icon-line-awesome-terminal"></i>
                  <span>Path</span>
                  <h5 class="text-break">{{documentData._source.storage.path}}</h5>
                </li>
                <li>
                  <i class="icon-material-outline-access-time"></i>
                  <span>Date Created</span>
                  <h5>{{documentData._source.file.created | amTimeAgo}}</h5>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Sidebar Widget -->
        <div class="sidebar-widget">
          <h3>Bookmark</h3>

          <!-- Bookmark Button -->
          <button
            (click)="bookmarkDocument(documentData._source.lodestone ? !!documentData._source.lodestone.bookmark : false )"
            [ngClass]="{'bookmarked': documentData._source.lodestone ? !!documentData._source.lodestone.bookmark : false }"
            class="bookmark-button margin-bottom-25">
            <span class="bookmark-icon"></span>
            <span class="bookmark-text">Bookmark</span>
            <span class="bookmarked-text">Bookmarked</span>
          </button>


        </div>

      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
