<div class="doc-preview-wrapper">
  <!-- Render Browser Native file types: -->
  <img *ngIf="previewType(extension) == 'native'" [src]="path">

  <!-- Render HTML in iframe: -->
  <iframe *ngIf="previewType(extension) == 'iframe'" [src]="path"></iframe>


  <!-- Render files that have a thirdparty library for processing  -->

  <!-- Render PDF's -->
  <ng2-pdfjs-viewer *ngIf="previewType(extension) == 'pdf'" openFile="false"></ng2-pdfjs-viewer>

  <!-- Render anchor for non-angular native libraries -->
  <div *ngIf="previewType(extension) == 'third-party'" id="thirdPartyRender" class="well"></div>

  <div *ngIf="previewType(extension) == 'unsupported'">
    <div class="notification error ">
      <p>Sorry, could not render preview for this item: Unsupported extension {{extension}} <br/> Use the download button to open the document in a native viewer.</p>
    </div>
  </div>

</div>
