<div class="doc-preview-wrapper">
  <!-- Render Browser Native file types: -->
  <img *ngIf="renderType(extension) == 'native'" [src]="path">

  <!-- Render HTML in iframe: -->
  <iframe *ngIf="renderType(extension) == 'iframe'" [src]="path"></iframe>


  <!-- Render files that have a thirdparty library for processing  -->

  <!-- Render PDF's -->
  <ng2-pdfjs-viewer *ngIf="renderType(extension) == 'pdf'" openFile="false"></ng2-pdfjs-viewer>

  <!-- Render Markdown files -->
  <markdown *ngIf="renderType(extension) == 'md'" [src]="path"></markdown>

  <!-- Render XLSX file -->
  <sheetjs *ngIf="renderType(extension) == 'xlsx'" [src]="path"></sheetjs>

  <!-- Render anchor for non-angular native libraries -->
  <div *ngIf="renderType(extension) == 'docx' || renderType(extension) == 'rtf'" id="thirdPartyAnchor" class="well"></div>

  <div *ngIf="renderType(extension) == 'unsupported'">
    <div class="notification error ">
      <p>Sorry, could not render preview for this item: Unsupported extension {{extension}} <br/> Use the download button to open the document in a native viewer.</p>
    </div>
  </div>

</div>
