<app-header></app-header>


<ng-template #scanTemplate>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Document Scan Results</h4>
        <button type="button" class="close pull-right" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="scannedFiles.length == 0" class="notification warning">
          <p>No new documents detected.</p>
        </div>
        <table *ngIf="scannedFiles.length >0" class="table table-striped">
          <thead class="thead-primary">
          <tr>
            <th>Storage Bucket</th>
            <th>Queued Document</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let doc of scannedFiles">
            <td>{{doc.bucket}}</td>
            <td>{{doc.key}}</td>
          </tr>
          </tbody></table>
      </div>
    <div class="modal-footer">
      <button (click)="modalRef.hide()" type="button" class="button dark ripple-effect" data-dismiss="modal">Close</button>
    </div>
</ng-template>

<ng-template #errorTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Document Processing Errors</h4>
    <button type="button" class="close pull-right"(click)="modalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="processingErrors.length == 0" class="notification warning">
      <p>No errors found.</p>
    </div>
    <table *ngIf="processingErrors.length >0" class="table table-striped">
      <thead class="thead-primary">
        <tr>
          <th>Source</th>
          <th>Storage Bucket</th>
          <th>Error Document</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let err of processingErrors">
          <td>{{err.source}}</td>
          <td>{{err.bucket}}</td>
          <td>{{err.key}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button tooltip="Not Implemented" type="button" class="button ripple-effect">Clear Errors</button>
    <button (click)="modalRef.hide()" type="button" class="button dark ripple-effect" data-dismiss="modal">Close</button>
  </div>
</ng-template>


<!-- Dashboard Container -->
<div class="dashboard-container">

  <!-- Dashboard Content
    ================================================== -->
  <div class="dashboard-content-container" data-simplebar>
    <div class="dashboard-content-inner" >

      <!-- Dashboard Headline -->
      <div class="dashboard-headline">
        <h3>Status</h3>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs" class="dark">
          <ul>
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li>Status</li>
          </ul>
        </nav>
      </div>

      <!-- Row -->
      <div class="row">

        <!-- Dashboard Box -->
        <div class="col-xl-12">
          <div class="dashboard-box margin-top-0">

            <!-- Headline -->
            <div class="headline">
              <h3><i class="icon-material-outline-assignment"></i> Components </h3>
            </div>

            <div class="content">
              <ul class="dashboard-box-list">
                <li>
                  <!-- Job Listing -->
                  <div class="job-listing width-adjustment">

                    <!-- Job Listing Details -->
                    <div class="job-listing-details">

                      <!-- Details -->
                      <div class="job-listing-description">
                        <h3 class="job-listing-title" style="font-size:18px">ElasticSearch</h3>
                      </div>
                    </div>
                  </div>

                  <!-- Task Details -->
                  <ul class="dashboard-task-info">
                    <li><strong [ngClass]="{'text-danger': statusResult.elasticsearch.status == 'red', 'text-warning': statusResult.elasticsearch.status == 'yellow', 'text-success': statusResult.elasticsearch.status == 'green'}">{{statusResult.elasticsearch.status}}</strong><span>Status</span></li>
                    <li><strong>{{statusDate | amTimeAgo}}</strong><span>Last Checked</span></li>
                  </ul>

                  <!-- Buttons -->
                  <div class="buttons-to-right always-visible">
                    <button [disabled]="this.loading.status" (click)="getStatus($event)" class="button dark ripple-effect"><i class="icon-material-outline-autorenew"></i> Check</button>
                    <button [disabled]="this.loading.scan" (click)="scanMissing(scanTemplate)" class="button ripple-effect"><i class="icon-material-outline-folder"></i> Scan</button>

                  </div>
                </li>

                <li>
                  <!-- Job Listing -->
                  <div class="job-listing width-adjustment">

                    <!-- Job Listing Details -->
                    <div class="job-listing-details">

                      <!-- Details -->
                      <div class="job-listing-description">
                        <h3 class="job-listing-title" style="font-size:18px">Queue: Documents</h3>
                      </div>
                    </div>
                  </div>

                  <!-- Task Details -->
                  <ul class="dashboard-task-info">
                    <li><strong>{{statusResult.rabbitmq.documents.messages}}</strong><span>Messages</span></li>
                    <li><strong [ngClass]="{'text-danger': statusResult.rabbitmq.documents.consumers == 0}">{{statusResult.rabbitmq.documents.consumers}}</strong><span>Processors</span></li>
                    <li><strong>{{statusResult.rabbitmq.documents.idle_since | amFromUtc | amTimeAgo}}</strong><span>Last Message</span></li>
                  </ul>

                  <!-- Buttons -->
                  <div class="buttons-to-right always-visible">
                    <button [disabled]="this.loading.status" (click)="getStatus($event)" class="button dark ripple-effect"><i class="icon-material-outline-autorenew"></i> Check</button>
                  </div>
                </li>

                <li>
                  <!-- Job Listing -->
                  <div class="job-listing width-adjustment">

                    <!-- Job Listing Details -->
                    <div class="job-listing-details">

                      <!-- Details -->
                      <div class="job-listing-description">
                        <h3 class="job-listing-title" style="font-size:18px">Queue: Thumbnails</h3>
                      </div>
                    </div>
                  </div>

                  <!-- Task Details -->
                  <ul class="dashboard-task-info">
                    <li><strong>{{statusResult.rabbitmq.thumbnails.messages}}</strong><span>Messages</span></li>
                    <li><strong [ngClass]="{'text-danger': statusResult.rabbitmq.documents.consumers == 0}">{{statusResult.rabbitmq.thumbnails.consumers}}</strong><span>Processors</span></li>
                    <li><strong>{{statusResult.rabbitmq.thumbnails.idle_since | amFromUtc | amTimeAgo}}</strong><span>Last Message</span></li>
                  </ul>

                  <!-- Buttons -->
                  <div class="buttons-to-right always-visible">
                    <button [disabled]="this.loading.status" (click)="getStatus($event)" class="button dark ripple-effect"><i class="icon-material-outline-autorenew"></i> Check</button>
                  </div>
                </li>

                <li>
                  <!-- Job Listing -->
                  <div class="job-listing width-adjustment">

                    <!-- Job Listing Details -->
                    <div class="job-listing-details">

                      <!-- Details -->
                      <div class="job-listing-description">
                        <h3 class="job-listing-title" style="font-size:18px">Queue: Errors</h3>
                      </div>
                    </div>
                  </div>

                  <!-- Task Details -->
                  <ul class="dashboard-task-info">
                    <li><strong [ngClass]="{'text-danger': statusResult.rabbitmq.errors.messages > 0}">{{statusResult.rabbitmq.errors.messages}}</strong><span>Errors</span></li>
                    <li><strong>{{statusResult.rabbitmq.errors.idle_since | amFromUtc | amTimeAgo}}</strong><span>Last Message</span></li>
                  </ul>

                  <!-- Buttons -->
                  <div class="buttons-to-right always-visible">
                    <button [disabled]="this.loading.status" (click)="getStatus($event)" class="button dark ripple-effect"><i class="icon-material-outline-autorenew"></i> Check</button>
                    <button [disabled]="this.loading.errors" (click)="viewErrors(errorTemplate)" class="button ripple-effect"><i class="icon-feather-alert-triangle"></i> View</button>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>

      </div>
      <!-- Row / End -->

      <!-- Footer -->
      <div class="dashboard-footer-spacer"></div>
      <div class="small-footer margin-top-15">
        <div class="small-footer-copyrights">
          © 2018 <strong>Lodestone</strong>. All Rights Reserved.
        </div>
        <ul class="footer-social-links">
          <li>
            <a href="https://github.com/AnalogJ/lodestone" title="Github" data-tippy-placement="top">
              <i class="icon-brand-github"></i>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- Footer / End -->

    </div>
  </div>
  <!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->
