<app-header></app-header>

<!-- Dashboard Container -->
<div class="dashboard-container">

  <!-- Dashboard Content
    ================================================== -->
  <div class="dashboard-content-container" data-simplebar>
    <div class="dashboard-content-inner" >

      <!-- Dashboard Headline -->
      <div class="dashboard-headline">
        <h3>Status</h3>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs" class="dark">
          <ul>
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li>Status</li>
          </ul>
        </nav>
      </div>

      <!-- Row -->
      <div class="row">

        <!-- Dashboard Box -->
        <div class="col-xl-12">
          <div class="dashboard-box margin-top-0">

            <!-- Headline -->
            <div class="headline">
              <h3><i class="icon-material-outline-assignment"></i> Components </h3>
            </div>

            <div class="content">
              <ul class="dashboard-box-list">
                <li>
                  <!-- Job Listing -->
                  <div class="job-listing width-adjustment">

                    <!-- Job Listing Details -->
                    <div class="job-listing-details">

                      <!-- Details -->
                      <div class="job-listing-description">
                        <h3 class="job-listing-title"><a href="#">ElasticSearch</a></h3>
                      </div>
                    </div>
                  </div>

                  <!-- Task Details -->
                  <ul class="dashboard-task-info">
                    <li><strong [ngClass]="{'danger': statusResult.elasticsearch.status == 'red', 'warning': statusResult.elasticsearch.status == 'yellow', 'success': statusResult.elasticsearch.status == 'green'}">{{statusResult.elasticsearch.status}}</strong><span>Status</span></li>
                    <li><strong>1 min ago</strong><span>Last Checked</span></li>
                  </ul>

                  <!-- Buttons -->
                  <div class="buttons-to-right always-visible">
                    <a href="dashboard-manage-bidders.html" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Check</a>
                    <a href="dashboard-manage-bidders.html" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Reindex</a>

                  </div>
                </li>

                <li>
                  <!-- Job Listing -->
                  <div class="job-listing width-adjustment">

                    <!-- Job Listing Details -->
                    <div class="job-listing-details">

                      <!-- Details -->
                      <div class="job-listing-description">
                        <h3 class="job-listing-title"><a href="#">Processor: Documents</a></h3>
                      </div>
                    </div>
                  </div>

                  <!-- Task Details -->
                  <ul class="dashboard-task-info">
                    <li><strong>{{statusResult.rabbitmq.documents.messages}}</strong><span>Queue</span></li>
                    <li><strong [ngClass]="{'danger': statusResult.rabbitmq.documents.consumers == 0}">{{statusResult.rabbitmq.documents.consumers}}</strong><span>Listeners</span></li>
                    <li><strong>{{statusResult.rabbitmq.documents.idle_since | amFromUtc | amTimeAgo}}</strong><span>Last Checked</span></li>
                  </ul>

                  <!-- Buttons -->
                  <div class="buttons-to-right always-visible">
                    <a href="dashboard-manage-bidders.html" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Check</a>
                  </div>
                </li>

                <li>
                  <!-- Job Listing -->
                  <div class="job-listing width-adjustment">

                    <!-- Job Listing Details -->
                    <div class="job-listing-details">

                      <!-- Details -->
                      <div class="job-listing-description">
                        <h3 class="job-listing-title"><a href="#">Processor: Thumbnails</a></h3>
                      </div>
                    </div>
                  </div>

                  <!-- Task Details -->
                  <ul class="dashboard-task-info">
                    <li><strong>{{statusResult.rabbitmq.thumbnails.messages}}</strong><span>Queue</span></li>
                    <li><strong [ngClass]="{'danger': statusResult.rabbitmq.documents.consumers == 0}">{{statusResult.rabbitmq.thumbnails.consumers}}</strong><span>Listeners</span></li>
                    <li><strong>{{statusResult.rabbitmq.thumbnails.idle_since | amFromUtc | amTimeAgo}}</strong><span>Last Checked</span></li>
                  </ul>

                  <!-- Buttons -->
                  <div class="buttons-to-right always-visible">
                    <a href="dashboard-manage-bidders.html" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Check</a>
                  </div>
                </li>

                <li>
                  <!-- Job Listing -->
                  <div class="job-listing width-adjustment">

                    <!-- Job Listing Details -->
                    <div class="job-listing-details">

                      <!-- Details -->
                      <div class="job-listing-description">
                        <h3 class="job-listing-title"><a href="#">Errors</a></h3>
                      </div>
                    </div>
                  </div>

                  <!-- Task Details -->
                  <ul class="dashboard-task-info">
                    <li><strong [ngClass]="{'danger': statusResult.rabbitmq.errors.messages > 0}">{{statusResult.rabbitmq.errors.messages}}</strong><span>Errors</span></li>
                    <li><strong>{{statusResult.rabbitmq.errors.idle_since | amFromUtc | amTimeAgo}}</strong><span>Last Checked</span></li>
                  </ul>

                  <!-- Buttons -->
                  <div class="buttons-to-right always-visible">
                    <a href="dashboard-manage-bidders.html" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Check</a>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>

      </div>
      <!-- Row / End -->

      <!-- Footer -->
      <div class="dashboard-footer-spacer"></div>
      <div class="small-footer margin-top-15">
        <div class="small-footer-copyrights">
          © 2018 <strong>Lodestone</strong>. All Rights Reserved.
        </div>
        <ul class="footer-social-links">
          <li>
            <a href="#" title="Facebook" data-tippy-placement="top">
              <i class="icon-brand-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="#" title="Twitter" data-tippy-placement="top">
              <i class="icon-brand-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#" title="Google Plus" data-tippy-placement="top">
              <i class="icon-brand-google-plus-g"></i>
            </a>
          </li>
          <li>
            <a href="#" title="LinkedIn" data-tippy-placement="top">
              <i class="icon-brand-linkedin-in"></i>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- Footer / End -->

    </div>
  </div>
  <!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->
