/* You can add global styles to this file, and also import other style files */

@import 'assets/sass/variables';

/* ---------------------------------- */
/* Utility
------------------------------------- */

.cursor_pointer {
  cursor: pointer;
}


/* ---------------------------------- */
/* Header - Search
------------------------------------- */
header#header-container div#navigation {
  width: calc(100% - 550px);
}

/* ---------------------------------- */
/* Dashboard - Pagination
------------------------------------- */

.pagination .page-item .page-link {
  border:none;
  box-shadow: none;
}

.pagination .page-item.active a {
  background-color: $primary-color;
}

.pagination .pagination-prev a, .pagination .pagination-next a {
  background-color: #f0f0f0;
}

/* ---------------------------------- */
/* Dashboard - File Type Filter
------------------------------------- */
.badge.badge-primary {
  color: #fff;
  background-color: $primary-color;
}

/* ---------------------------------- */
/* Dashboard - Time Range Filter
------------------------------------- */
.bs-datepicker-body table td.week span
{
  color: $primary-color !important;
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover
{
  background-color: $primary-color !important;
}


/* ---------------------------------- */
/* Dashboard - File Size Filter
------------------------------------- */


.ng5-slider {

  .ng5-slider-pointer {
    border: 2px solid $primary-color !important;
    width: 20px !important;
    height: 20px !important;
    background-color: $primary-color !important;
    border-radius: 50% !important;
    top: -8px !important;

    &:after {
      width: 14px !important;
      height: 14px !important;
      top: 1px !important;
      left: 1px !important;
      border-radius: 30px !important;
      background: #fff !important;
    }
  }



  .ng5-slider-bar.ng5-slider-selection {
    background: $primary-color;
  }
}

/* ---------------------------------- */
/* Dashboard - Search Bar
------------------------------------- */
.search-popover {
  width: 700px;
  max-width: 100%;
}

/* ---------------------------------- */
/* Dashboard - Tabs
------------------------------------- */
.tags-container input[type=checkbox]:checked+label span {
  color: #fff;
}


/* ---------------------------------- */
/* Details Page - Document Preview
------------------------------------- */
.doc-preview-wrapper{
  height: 900px;
  outline: auto;
  overflow: scroll;
  img {
    width: 100%;
  }
}

/* ---------------------------------- */
/* Details Page - Tabs
------------------------------------- */
.tab-container {
  ul {
    padding: 0;
    list-style: none;
    margin: 0;
  }
  z-index: 15;
  position: relative;
  background: #FFFFFF;
  width: 100%;
  border-radius: $global-border-radius;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

.tab-container .nav-tabs {
  position: relative;
  background: $primary-color;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //width: calc(100% - 100px);
  z-index: 100;

  li.nav-item {
    transition: 0.3s ease;
  }
  a.nav-link {
    z-index: 1;
    display: block;
    box-sizing: border-box;
    padding: 15px 25px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.15);
    border: none;
  }
  a.nav-link.active {
    background-color: rgba(255, 255, 255, 0.07);
  }
}

.tab-content {
  position: relative;
  transition: 0.3s ease;
  overflow: hidden;
  .tab-pane {
    padding: 25px;
    p:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    box-shadow: 0 0 20px 10px #FFFFFF;
  }
  .tab-pane {
    display: none;
    &.active {
      display: block;
    }
  }
}

@media (max-width: 992px) {
  .tabs-nav {
    display: none;
  }

  .nav-tabs {
    a.nav-link {
      box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.15);
    }
    a.nav-link.active {
      background-color: rgba(255, 255, 255, 0.07);
    }
  }
}


/* ---------------------------------- */
/* Details Page - Metadata
------------------------------------- */
.text-break{
  overflow-wrap: break-word;
}



